<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="10240" />

    <!-- Session timeout: 60 minutes -->
    <sessionState timeout="60" />

    <!-- Enable JSON Web Methods -->
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
  </system.web>

  <system.webServer>
    <staticContent>
      <!-- serve .js and .css files correctly -->
      <mimeMap fileExtension=".js"  mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>
  </system.webServer>
</configuration>